doctype true
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
    head
        //if gte mso 9
          xml
            o:officedocumentsettings
              o:allowpng
                o:pixelsperinch 96
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width")
        // [if !mso] <!
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        // <![endif]
        title
        // [if !mso] <!
        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css")
        // <![endif]
        style#media-query(type="text/css").
            body {
                margin: 0;
                padding: 0; }
            table, tr, td {
                vertical-align: top;
                border-collapse: collapse; }
            .ie-browser table, .mso-container table {
                table-layout: fixed; }
            * {
                line-height: inherit; }
            a[x-apple-data-detectors=true] {
                color: inherit !important;
                text-decoration: none !important; }
            [owa] .img-container div, [owa] .img-container button {
                display: block !important; }
            [owa] .fullwidth button {
                width: 100% !important; }
            [owa] .block-grid .col {
                display: table-cell;
                float: none !important;
                vertical-align: top; }
            .ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
                width: 500px !important; }
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%; }
            .ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
                width: 164px !important; }
            .ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
                width: 328px !important; }
            .ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
                width: 250px !important; }
            .ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
                width: 166px !important; }
            .ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
                width: 125px !important; }
            .ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
                width: 100px !important; }
            .ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
                width: 83px !important; }
            .ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
                width: 71px !important; }
            .ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
                width: 62px !important; }
            .ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
                width: 55px !important; }
            .ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
                width: 50px !important; }
            .ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
                width: 45px !important; }
            .ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
                width: 41px !important; }
            @media only screen and (min-width: 520px) {
                .block-grid {
                    width: 500px !important; }
                .block-grid .col {
                    vertical-align: top; }
                .block-grid .col.num12 {
                    width: 500px !important; }
                .block-grid.mixed-two-up .col.num4 {
                    width: 164px !important; }
                .block-grid.mixed-two-up .col.num8 {
                    width: 328px !important; }
                .block-grid.two-up .col {
                    width: 250px !important; }
                .block-grid.three-up .col {
                    width: 166px !important; }
                .block-grid.four-up .col {
                    width: 125px !important; }
                .block-grid.five-up .col {
                    width: 100px !important; }
                .block-grid.six-up .col {
                    width: 83px !important; }
                .block-grid.seven-up .col {
                    width: 71px !important; }
                .block-grid.eight-up .col {
                    width: 62px !important; }
                .block-grid.nine-up .col {
                    width: 55px !important; }
                .block-grid.ten-up .col {
                    width: 50px !important; }
                .block-grid.eleven-up .col {
                    width: 45px !important; }
                .block-grid.twelve-up .col {
                    width: 41px !important; } }
            @media (max-width: 520px) {
                .block-grid, .col {
                    min-width: 320px !important;
                    max-width: 100% !important;
                    display: block !important; }
                .block-grid {
                    width: calc(100% - 40px) !important; }
                .col {
                    width: 100% !important; }
                .col > div {
                    margin: 0 auto; }
                img.fullwidth, img.fullwidthOnMobile {
                    max-width: 100% !important; }
                .no-stack .col {
                    min-width: 0 !important;
                    display: table-cell !important; }
                .no-stack.two-up .col {
                    width: 50% !important; }
                .no-stack.mixed-two-up .col.num4 {
                    width: 33% !important; }
                .no-stack.mixed-two-up .col.num8 {
                    width: 66% !important; }
                .no-stack.three-up .col.num4 {
                    width: 33% !important; }
                .no-stack.four-up .col.num3 {
                    width: 25% !important; }
                .mobile_hide {
                    min-height: 0px;
                    max-height: 0px;
                    max-width: 0px;
                    display: none;
                    overflow: hidden;
                    font-size: 0px; } }
    body.clean-body(style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #FFFFFF")
        style#media-query-bodytag(type="text/css").
            @media (max-width: 520px) {
                .block-grid {
                    min-width: 320px!important;
                    max-width: 100%!important;
                    width: 100%!important;
                    display: block!important;
                }
                .col {
                    min-width: 320px!important;
                    max-width: 100%!important;
                    width: 100%!important;
                    display: block!important;
                }
                .col > div {
                    margin: 0 auto;
                }
                img.fullwidth {
                    max-width: 100%!important;
                }
                img.fullwidthOnMobile {
                    max-width: 100%!important;
                }
                .no-stack .col {
                    min-width: 0!important;
                    display: table-cell!important;
                }
                .no-stack.two-up .col {
                    width: 50%!important;
                }
                .no-stack.mixed-two-up .col.num4 {
                    width: 33%!important;
                }
                .no-stack.mixed-two-up .col.num8 {
                    width: 66%!important;
                }
                .no-stack.three-up .col.num4 {
                    width: 33%!important;
                }
                .no-stack.four-up .col.num3 {
                    width: 25%!important;
                }
                .mobile_hide {
                    min-height: 0px!important;
                    max-height: 0px!important;
                    max-width: 0px!important;
                    display: none!important;
                    overflow: hidden!important;
                    font-size: 0px!important;
                }
            }
        //if IE
          .ie-browser
        //if mso
          .mso-container
        table.nl-container(style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #FFFFFF;width: 100%" cellpadding="0" cellspacing="0")
            tbody
                tr(style="vertical-align: top")
                    td(style="word-break: break-word;border-collapse: collapse !important;vertical-align: top")
                        //if (mso)|(IE)
                          table(width="100%" cellpadding="0" cellspacing="0" border="0")
                            tr
                              td(align="center" style="background-color: #FFFFFF;")
                        div(style="background-color:transparent;")
                            .block-grid(style="Margin: 0 auto;min-width: 320px;max-width: 500px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;")
                                div(style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;")
                                    //if (mso)|(IE)
                                      table(width="100%" cellpadding="0" cellspacing="0" border="0")
                                        tr
                                          td(style="background-color:transparent;" align="center")
                                            table(cellpadding="0" cellspacing="0" border="0" style="width: 500px;")
                                              tr.layout-full-width(style="background-color:transparent;")
                                    //if (mso)|(IE)
                                      td(align="center" width="500" style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top")
                                    .col.num12(style="min-width: 320px;max-width: 500px;display: table-cell;vertical-align: top;")
                                        div(style="background-color: transparent; width: 100% !important;")
                                            // [if (!mso)&(!IE)] <!
                                            div(style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;")
                                                // <![endif]
                                                div
                                                    //if mso
                                                      table(width="100%" cellpadding="0" cellspacing="0" border="0")
                                                        tr
                                                          td(style="padding-right: 30px; padding-left: 30px; padding-top: 30px; padding-bottom: 15px;")
                                                    div(style="color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 30px; padding-left: 30px; padding-top: 30px; padding-bottom: 15px;")
                                                        div(style="font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;font-size:12px;line-height:14px;color:#555555;text-align:left;")
                                                            p(style="margin: 0;font-size: 12px;line-height: 14px;text-align: center")
                                                                span(style="font-size: 18px; line-height: 21px;")
                                                                    strong=`¡Felicidades! ${name} ya forma parte de tu vida`
                                                    //if mso
                                                div
                                                    //if mso
                                                      table(width="100%" cellpadding="0" cellspacing="0" border="0")
                                                        tr
                                                          td(style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 5px;")
                                                    div(style="color:#5ACEE1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 5px;")
                                                        div(style="font-size:12px;line-height:14px;color:#5ACEE1;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;text-align:left;")
                                                            p(style="margin: 0;font-size: 12px;line-height: 14px;text-align: center")
                                                                span(style="font-size: 18px; line-height: 21px;")
                                                                    strong
                                                                        span(style="line-height: 21px; font-size: 18px;")=`Hemos aceptado tu solicitud de adopción de ${name}`
                                                    //if mso
                                                div
                                                    //if mso
                                                      table(width="100%" cellpadding="0" cellspacing="0" border="0")
                                                        tr
                                                          td(style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 30px;")
                                                    div(style="color:#989898;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 30px;")
                                                        div(style="font-size:12px;line-height:14px;color:#989898;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;")
                                                            p(style="margin: 0;font-size: 14px;line-height: 17px;text-align: center")=`Puedes recoger a ${name} desde mañana en nuestra sede, no te olvides de traer un transportín adecuado`
                                                    //if mso
                                                // [if (!mso)&(!IE)] <!
                                            // <![endif]
                                    //if (mso)|(IE)
                        div(style="background-color:#5ACEE1;")
                            .block-grid(style="Margin: 0 auto;min-width: 320px;max-width: 500px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;")
                                div(style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;")
                                    //if (mso)|(IE)
                                      table(width="100%" cellpadding="0" cellspacing="0" border="0")
                                        tr
                                          td(style="background-color:#5ACEE1;" align="center")
                                            table(cellpadding="0" cellspacing="0" border="0" style="width: 500px;")
                                              tr.layout-full-width(style="background-color:transparent;")
                                    //if (mso)|(IE)
                                      td(align="center" width="500" style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:0px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top")
                                    .col.num12(style="min-width: 320px;max-width: 500px;display: table-cell;vertical-align: top;")
                                        div(style="background-color: transparent; width: 100% !important;")
                                            // [if (!mso)&(!IE)] <!
                                            div(style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;")
                                                // <![endif]
                                                table.divider(border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%")
                                                    tbody
                                                        tr(style="vertical-align: top")
                                                            td.divider_inner(style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;min-width: 100%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%")
                                                                table.divider_content(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 0px solid transparent;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%")
                                                                    tbody
                                                                        tr(style="vertical-align: top")
                                                                            td(style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%")
                                                                                span
                                                // [if (!mso)&(!IE)] <!
                                            // <![endif]
                                    //if (mso)|(IE)
                        div(style="background-color:#CCD7D9;")
                            .block-grid(style="Margin: 0 auto;min-width: 320px;max-width: 500px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #CCD7D9;")
                                div(style="border-collapse: collapse;display: table;width: 100%;background-color:#CCD7D9;")
                                    //if (mso)|(IE)
                                      table(width="100%" cellpadding="0" cellspacing="0" border="0")
                                        tr
                                          td(style="background-color:#CCD7D9;" align="center")
                                            table(cellpadding="0" cellspacing="0" border="0" style="width: 500px;")
                                              tr.layout-full-width(style="background-color:#CCD7D9;")
                                    //if (mso)|(IE)
                                      td(align="center" width="500" style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid #5ACEE1; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top")
                                    .col.num12(style="min-width: 320px;max-width: 500px;display: table-cell;vertical-align: top;")
                                        div(style="background-color: transparent; width: 100% !important;")
                                            // [if (!mso)&(!IE)] <!
                                            div(style="border-top: 0px solid #5ACEE1; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;")
                                                // <![endif]
                                                div
                                                    //if mso
                                                      table(width="100%" cellpadding="0" cellspacing="0" border="0")
                                                        tr
                                                          td(style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;")
                                                    div(style="color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;")
                                                        div(style="font-size:12px;line-height:14px;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;")
                                                            p(style="margin: 0;font-size: 14px;line-height: 17px; text-align: center;")
                                                                | Gracias por confiar en 
                                                                a(style="color:#0068A5;text-decoration: underline;" href="https://huellas.dicren.com" target="_blank" rel="noopener") Huellas
                                                                | .
                                                    //if mso
                                                // [if (!mso)&(!IE)] <!
                                            // <![endif]
                                    //if (mso)|(IE)
                        //if (mso)|(IE)
        //if (mso)|(IE)